extends layout

block content
  div
    form(action='/add_post',method='post')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='text') text
            input(id='text',type='text',value='',placeholder='',name='text')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='latitude') latitude
            input(id='latitude',type='text',value='',placeholder='',name='latitude')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='longitude') longitude
            input(id='longitude',type='text',value='',placeholder='',name='longitude')
      input(type="hidden", name="unique_id", value="pass")
      div(data-role='fieldcontain')   
        input(type='submit', value='Send post', data-transition='fade', data-theme='c')